*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray-default : #4D4D4D;
  --gray-lighter : #B0B0B0;
  --white-default : #FFF;
  --white-secondary : #EBF0E4;
  --green-havier: #233000;
  --green-seconday: #5E6600;
  --green-lighter: #9CAA00;



}
